<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${wapTitle}"/>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="WAP广告联盟,WAP广告, wap广告平台,移动广告平台,移动广告联盟,广告联盟"/>
    <meta name="description"
          content="点优移动传媒WAP广告联盟，致力打造国内最好的WAP广告联盟，优质丰富的广告媒体，多式多样的广告形式，精准高效的广告投放，合理透明的计费方式，确保您的每一分投入都能产生最大的价值。"/>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- checkbox -->
    <link href="/assets/css/checkbox3.min.css" rel="stylesheet"/>
    <link href="/assets/css/style.css" rel="stylesheet"/>
</head>

<body>
<div class="bgimg">
    <div class="relog">
        <h1>注册点优后台</h1>
        <form role="form" th:action="@{/reg/adv}" method="post" onsubmit="return checkform()">
            <div class="form-group relog-radio clearfix">
                <div class="radio3">
                    <input id="radio1" name="type" value="type" type="radio" onclick="window.location.href='/reg/aff'"/>
                    <label for="radio1">网站主</label>
                </div>
                <div class="radio3">
                    <input id="radio2" name="type" value="type" type="radio" checked="checked" onclick="window.location.href='/reg/adv'"/>
                    <label for="radio2">广告主</label>
                </div>
            </div>
            <div class="form-group relog-input">
                <i class="fa fa-user"></i>
                <input type="text" name="username" value="" placeholder="请输入用户名，以字母开头" id="username"/>
            </div>
            <div class="form-group relog-input">
                <i class="fa fa-lock"></i>
                <input type="password" name="password" value="" placeholder="6-20字符作为登录密码" id="password"/>
            </div>
            <div class="form-group relog-input">
                <i class="fa fa-lock"></i>
                <input type="password" name="affirmpw" value="" placeholder="请再输入密码" id="affirmpw"/>
            </div>
            <div class="form-group relog-input">
                <i class="fa fa-qq"></i>
                <input type="text" name="qq" value="" placeholder="请填写您的常用QQ" id="qq"/>
            </div>
            <div class="form-group relog-input">
                <i class="fa fa-phone"></i>
                <input type="phone" name="phone" value="" placeholder="请填写您的联系电话" id="phone"/>
            </div>
            <div class="text-center">
                <label>注册则表明已经同意<a href="/service">《点优移动传媒注册协议》</a></label>
            </div>
            <div class="form-group relog-btnbox">
                <button class="btn relog-btn" type="submit">注册</button>
            </div>
            <div class="relog-other">
                <a href="/">返回首页</a>
                <a href="/login">登录账号</a>
            </div>
        </form>
    </div>
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>
<script type="application/javascript">
/*<![CDATA[*/
function checkform() {
    var name = $('#username').val().trim(),pass = $('#password').val().trim(), compass = $('#affirmpw').val(), qq = $('#qq').val(), phone=$('#phone').val();
    if (!name) {$('#username').focus();return false;}
    if (!pass) {$('#password').focus();return false;}
    if (!compass) {$('#affirmpw').focus();return false;}
    if (!phone) {$('#phone').focus();return false;}
    if (!qq) {$('#qq').focus();return false;}
    if (pass != compass) {$('#password').val('');$('#affirmpw').val('');return false;}
}
/*]]>*/
</script>
</body>
</html>